# Exercícios - Aula 03 e Aula 04
___

1. Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

2. Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em caso positivo e 0 (zero) em caso negativo.

3. Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

4. Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

5. Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

6. Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.

|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

7. Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

lista = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

8. Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

![minmax](https://androidkt.com/wp-content/uploads/2020/10/Selection_060.png)


9. Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

10. Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

11. Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23).

12. Escreva um código para ter o seguinte output:
    
    1 ---- 99
    2 ---- 98
    3 ---- 97
    4 ---- 96
    .
    .
    .
    99 ---- 1
    
13. Construa uma função que receba um input e printe um padrão conforme exemplo.

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++


14. Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

15. Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações: 

- Tempo: chuvoso -> não jogar
- Tempo: ensolarado ou nublado -> jogar
- Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
- Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar

Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

16. Pesquise e use a função ```zip()``` para juntar as duas listas abaixo.

nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

17. Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

18. Ainda usando os dados da questao 17 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj

# Resolução

1. Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

In [1]:
def separe_multiplos(lista):
  soma = 0

  for elemento in lista:
    if elemento%5 == 0:
      soma = soma + elemento

  return soma

separe_multiplos([1, 5, 10])

15

2. Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em caso positivo e 0 (zero) em caso negativo.

In [12]:
palavra = input('Digite uma palavra: ')

def palindromo(palavra):
  if palavra == palavra[::-1]:
    print(1)
  else:
    print(0)

palindromo(palavra)

Digite uma palavra: tenet
1

3. Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [13]:
def dicionario_valores(lista: list):
  contagem = len(lista)
  dicionario = {'Contagem': contagem}

  return dicionario

dicionario_valores([1,2,4,5])

{'Contagem': 4}

4. Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

In [19]:
def soma_listas(lista_lista: list):
  lista_de_somas = []
  for lista in lista_lista:
    lista_de_somas.append(sum(lista))

  return lista_de_somas

soma_listas([[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]])

[67, 164, 230, 100, 14, 2092]

5. Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

In [31]:
def sequencia_fibonnaci(numeros):
  numero_1 = 0
  numero_2 = 1
  if numeros <= 0:
    print('Funciona apenas para números maiores que zero')
  elif numeros > 0:
    for numero in range(numeros):
      print(numero_1)
      n = numero_1 + numero_2 
      numero_1 = numero_2
      numero_2 = n
  else:
    print('Não é um número')

sequencia_fibonnaci(11)

0
1
1
2
3
5
8
13
21
34
55

6. Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.

|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

In [73]:
def comparar_custos(noites):
  
  cidades = ['Abu Dhabi', 'Genebra','Oslo']
  custos = [[1300, 200, 150], [1200, 150, 80], [1000, 250, 100]]
  custos_cidades = dict(zip(cidades, custos))
  custos_totais = []

  for cidade in custos_cidades.keys():
    total = 0
    total = (custos_cidades.get(cidade)[0] * noites) + (custos_cidades.get(cidade)[1] * noites) + (custos_cidades.get(cidade)[2] * noites)
    custos_totais.append(total)

  custos_cidades_totais = dict(zip(cidades, custos_totais))

  cidade_mais_barata = min(custos_cidades_totais, key = custos_cidades_totais.get)
  custo_cidade_mais_barata = custos_cidades_totais.get(cidade_mais_barata)

  print(f'O destino mais barato é {cidade_mais_barata}, com o custo de {custo_cidade_mais_barata}')

comparar_custos(4)

O destino mais barato é Oslo, com o custo de 5400

7. Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

lista = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [102]:
def media(x):
  soma = sum(x)
  tamanho = len(x)
  media = soma / tamanho
  return media

def desvio_padrao(x):

  valor_menos_media = []
  for n in x:
    valor_menos_media.append((n - media(x)) ** 2)
  soma = sum(valor_menos_media)
  tamanho = len(valor_menos_media)
  valor_dividido_n = soma / tamanho

  desvio_padrao = (valor_dividido_n) ** (1/2)
  return desvio_padrao

def z_score_outliers(lista):
  z_score = []
  outliers = []

  for elemento in lista:
    z = (elemento - media(lista))/desvio_padrao(lista)
    z_score.append(z) 
    
  z_score_valores = dict(zip(lista, z_score))

  for key, value in z_score_valores.items():
    if value > 3 or value < -3: 
      outliers.append(key)

  print(f'Os valores que são outliers são: {outliers}')

lista = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9,
         16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24,
         177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249,
         114, -29, 79]
z_score_outliers(lista)

Os valores que são outliers são: [-9249, 7598, 16600]

8. Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

![minmax](https://androidkt.com/wp-content/uploads/2020/10/Selection_060.png)

In [103]:
def formula(lista):
  x_linha = []
  for x in lista:
    x_linha.append((x - min(lista))/(max(lista) - min(lista)))
  return x_linha

lista = [1,2,3,8]

formula(lista)

[0.0, 0.14285714285714285, 0.2857142857142857, 1.0]

9. Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

In [112]:
for i in range(10):
  for n in range(int(i/2) + 1):
    if (n * n) == i:
      print(i)

0
4
9

10. Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

In [132]:
valores = []
for i in range(10+1):
 
  if i%2 == 0:
    valores.append(i)

soma = sum(valores)
print(soma)

30

11. Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23).

In [131]:
def multiplos(a, b, c):
  for n in range(a, b + 1):
    #print(n)
    if c%n == 0:
      print(n)

multiplos(10,500,23)

23

12. Escreva um código para ter o seguinte output:
    
    1 ---- 99
    2 ---- 98
    3 ---- 97
    4 ---- 96
    .
    .
    .
    99 ---- 1

In [134]:
for i in range(1,100):
    print(f'{i} --- {100 - i}')

1 --- 99
2 --- 98
3 --- 97
4 --- 96
5 --- 95
6 --- 94
7 --- 93
8 --- 92
9 --- 91
10 --- 90
11 --- 89
12 --- 88
13 --- 87
14 --- 86
15 --- 85
16 --- 84
17 --- 83
18 --- 82
19 --- 81
20 --- 80
21 --- 79
22 --- 78
23 --- 77
24 --- 76
25 --- 75
26 --- 74
27 --- 73
28 --- 72
29 --- 71
30 --- 70
31 --- 69
32 --- 68
33 --- 67
34 --- 66
35 --- 65
36 --- 64
37 --- 63
38 --- 62
39 --- 61
40 --- 60
41 --- 59
42 --- 58
43 --- 57
44 --- 56
45 --- 55
46 --- 54
47 --- 53
48 --- 52
49 --- 51
50 --- 50
51 --- 49
52 --- 48
53 --- 47
54 --- 46
55 --- 45
56 --- 44
57 --- 43
58 --- 42
59 --- 41
60 --- 40
61 --- 39
62 --- 38
63 --- 37
64 --- 36
65 --- 35
66 --- 34
67 --- 33
68 --- 32
69 --- 31
70 --- 30
71 --- 29
72 --- 28
73 --- 27
74 --- 26
75 --- 25
76 --- 24
77 --- 23
78 --- 22
79 --- 21
80 --- 20
81 --- 19
82 --- 18
83 --- 17
84 --- 16
85 --- 15
86 --- 14
87 --- 13
88 --- 12
89 --- 11
90 --- 10
91 --- 9
92 --- 8
93 --- 7
94 --- 6
95 --- 5
96 --- 4
97 --- 3
98 --- 2
99 --- 1

13. Construa uma função que receba um input e printe um padrão conforme exemplo.

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++

In [142]:
valor = int(input('input: '))
frase = '+'
print('output:')
for i in range(valor):
  print(frase)
  frase = frase + '+'

input: 5
output:
+
++
+++
++++
+++++

14. Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [149]:
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

nova_lista = []

for nome in range(len(lista_nomes)):
  nova_lista.append(lista_nomes[nome].replace(' ', '_').upper())
nova_lista

['GERALT_DE_RÍVIA',
 'YENNEFER_DE_VENGERBERD',
 'TRISS_MARIGOLD',
 'EMHYR_VAR_EMREIS',
 'JASKIER_O_BARDO']

15. Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações: 

- Tempo: chuvoso -> não jogar
- Tempo: ensolarado ou nublado -> jogar
- Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
- Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar

Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

In [150]:
Tempo = 'ensolarado'
Temperatura = 16

if Tempo == 'chuvoso':
  print('Não vá jogar!')
elif (Tempo == 'ensolarado' or Tempo == 'nublado') and (Temperatura < 15):
  print('Não vá jogar!')
else:
  print('Vá jogar!')

Vá jogar!

16. Pesquise e use a função ```zip()``` para juntar as duas listas abaixo.

nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

In [107]:
nomes = ['nasser','joao','mateus']
salarios = [1000,1500,5000]

juntando = zip(nomes, salarios)

juntando

17. Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

real = [150358,368525,532152,144789]
predito = [162122,365255,533200,185789]

In [169]:
real = [150358,368525,532152,144789] 
predito = [162122,365255,533200,185789]
residuo = []

for i in range(len(real)):
  residuo.append(real[i] - predito[i])

print(residuo)

[-11764, 3270, -1048, -41000]

18. Ainda usando os dados da questao 17 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj

In [172]:
def RMSE(x):

  n = len(x)

  valor_menos_media = []
  for i in x:
    valor_menos_media.append((i - media(x)) ** 2)
  soma = sum(valor_menos_media)
  
  valor_dividido_n = soma / n

  rmse = (valor_dividido_n) ** (1/2)
  return rmse

RMSE(residuo)

17266.727100119468